@font-face {
  font-family: Museo Sans Cyrl;
  font-display: swap;
  src: url('../../assets/fonts/MuseoSansCyrl-Thin.woff2') format('woff2'),
    url('../../assets/fonts/MuseoSansCyrl-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-display: swap;
  src: url('../../assets/fonts/MuseoSansCyrl-Light.woff2') format('woff2'),
    url('../../assets/fonts/MuseoSansCyrl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Museo Sans Cyrl;
  font-display: swap;
  src: url('../../assets/fonts/MuseoSansCyrl-Bold.woff2') format('woff2'),
    url('../../assets/fonts/MuseoSansCyrl-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
