/* COLORS */
$white: hsla(0, 0%, 100%, 1);
$gray: hsla(0, 0%, 24%, 1);
$light-gray: hsla(0, 2%, 59%, 1);
$black: hsla(0, 0%, 0%, 1);
$dark-blue: hsla(248, 16%, 10%, 1);
$brown: hsla(27, 91%, 4%, 1);

/* TEXT SIZE */
$textXS: 14px;
$textS: 16px;
$textM: 18px;
$textL: 20px;
$textXL: 46px;
$textXXL: 60px;
